<div class="cocinitas">
    <div class="card" id="chef-profile">
        <div class="card-img-top">
            {{#if thisChef.picture}}
            <img class="profile-pic" src="{{thisChef.picture}}">
            {{else}}
            <img class="profile-pic" src="https://static.thenounproject.com/png/1244141-200.png" />
            <form action="/signup-chef" method="post" enctype="multipart/form-data">
                <div>
                    <input type="file" name="photo">
                </div>
            </form>
            {{/if}}
        </div>
        <div class="card-body">
            <p><b>Cook's name:</b> {{thisChef.name}}</p>
            <p><b>Main specialty</b>: {{thisChef.mainCookSpecialty}}</p>
            <p><b>Working days</b>: {{thisChef.workingDays}}</p>
            {{#if thisChef.description}}
            <p><b>Description</b>: {{thisChef.description}}</p>
            {{/if}}

            {{#if3eq thisChef.facebook thisChef.instagram thisChef.twitter}}
            <p><b>Social media</b>:
                <br>
                {{#if thisChef.facebook}}
                <a href="{{thisChef.facebook}}" target="_blank"><img src="../../images/facebook.png" /></a>
                {{/if}}
                {{#if thisChef.instagram}}
                <a href="{{thisChef.instagram}}" target="_blank"><img src="../../images/instagram.png" /></a>
                {{/if}}
                {{#if thisChef.twitter}}
                <a href="{{thisChef.twitter}}" target="_blank"><img src="../../images/twitter.png" /></a>
                {{/if}}
            </p>
            {{/if3eq}}
        </div>

        {{#ifeq thisChef.id currentUserInfo._id}}
        <hr style="align-self: center;" class="separation-line">
        <a class="allButtons mb-4" href="/profile-chef/{{thisChef._id}}/edit">Edit your profile</a>
        {{/ifeq}}
    </div>



    {{#each thisChef.recipes}}
    <div class="card img-hover-zoom" style="width: 18rem;">

        <img class="card-img-top" style="height: 14rem;" src="{{this.imgPath}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text"><b>Type of food:</b> {{this.typeOfFood}}</p>
            <p class="card-text"><b>Price:</b> {{this.price}}€/serving</p>
            {{#ifeq this.serves "1"}} <p class="card-text"><b>Serves:</b> {{this.serves}} guest</p> {{/ifeq}}
            {{#ifneq this.serves "1"}} <p class="card-text"><b>Serves:</b> {{this.serves}} guests</p> {{/ifneq}}
        </div>
        <hr style="align-self: center;" class="separation-line">
        <a class="allGreenButtons mb-3" href="/recipes/{{this._id}}">See more</a>

        {{#if ../currentUserInfo.isAChef}}
        {{#ifeq ../thisChef.id ../currentUserInfo._id}}
        <hr style="align-self: center;" class="separation-line">
        <a class="allButtons mb-4" href="/recipes/{{this._id}}/edit">Edit this recipe</a>
        {{/ifeq}}
        {{/if}}
    </div>
    {{/each}}
</div>