<ul>
    {{#if thisChef.picture}}
    <img src="{{thisChef.picture}}">
    {{else}}
    <img src="https://static.thenounproject.com/png/1244141-200.png" />
    <form action="/signup-chef" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="photo">
        </div>
    </form>
    {{/if}}
    <li>Cook's name: {{thisChef.name}}</li>
    <li>Main specialty: {{thisChef.mainCookSpecialty}}</li>
    <li>Working days: {{thisChef.workingDays}}</li>
    <li>Description: {{thisChef.description}}</li>
    <li>Social media:<br>
        <a href="{{thisChef.facebook}}"><img src="../../images/facebook.png" /></a>
        <a href="{{thisChef.instagram}}"><img src="../../images/instagram.png" /></a>
        <a href="{{thisChef.twitter}}"><img src="../../images/twitter.png" /></a>
    </li>
    <button><a href="/profile-chef/edit">Edit your profile</a></button>
</ul>