<ul>
    {{#if thisChef.picture}}
    <img src="{{thisChef.picture}}">
    {{else}}
    <img src="https://static.thenounproject.com/png/1244141-200.png" />
    {{/if}}
    <li>Cook's name: {{thisChef.name}}</li>
    <li>Main specialty: {{thisChef.mainCookSpecialty}}</li>
    <li>Working days: {{thisChef.workingDays}}</li>
    <li>Description: {{thisChef.description}}</li>
    <li>Social media: ICONS WITH HIPERLINKS</li>
</ul>

<button><a href="/profile-chef/edit">Edit your profile</a></button>