<ul>
    {{#if thisChef.picture}}
    <img style="height: 400px" src="{{thisChef.picture}}">
    {{else}}
    <img src="https://static.thenounproject.com/png/1244141-200.png" />
    <form action="/signup-chef" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="photo">
        </div>
    </form>
    {{/if}}
    <li>Cook's name: {{thisChef.name}}</li>
    <li>Main specialty: {{thisChef.mainCookSpecialty}}</li>
    <li>Working days: {{thisChef.workingDays}}</li>
    <li>Description: {{thisChef.description}}</li>
    <li>Social media:<br>
        {{#if thisChef.facebook}}
        <a href="{{thisChef.facebook}}" target="_blank"><img src="../../images/facebook.png" /></a>
        {{/if}}
        {{#if thisChef.instagram}}
        <a href="{{thisChef.instagram}}" target="_blank"><img src="../../images/instagram.png" /></a>
        {{/if}}
        {{#if thisChef.twitter}}
        <a href="{{thisChef.twitter}}" target="_blank"><img src="../../images/twitter.png" /></a>
        {{/if}}
    </li>
    <button><a href="/profile-chef/edit">Edit your profile</a></button>
</ul>

<div>
    {{#each thisChef}}
    {{/each}}
</div>