<h2>Editing {{thisChef.name}} profile</h2>
<form method="post" action="/profile-chef/edit">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{thisChef.name}}"></input><br>

    <label for="email">Email address:</label>
    <input type="text" name="email" id="email" value="{{thisChef.email}}"></input><br>

    <label for="phoneNumber">Phone number:</label>
    <input type="text" name="phoneNumber" id="phoneNumber" value="{{thisChef.phoneNumber}}"></input>

    <label for="">Address:</label>
    <input type="text" name="address" id="address" value="{{thisChef.address}}"></input>

    <label for="">Age:</label>
    <input type="text" name="age" id="age" value="{{thisChef.age}}"></input>

    <label for="mainCookSpecialty">Main cook specialty:</label>
    <input id="mainCookSpecialty" type="text" name="mainCookSpecialty" value="{{thisChef.mainCookSpecialty}}">

    <section>
        <span>Working days:</span>
        <input type="checkbox" value="Monday" name="workingDays" {{#if days.Monday}} checked {{/if}}>
        <label for="monday">Monday</label>

        <input type="checkbox" value="Tuesday" name="workingDays" {{#if days.Tuesday}} checked {{/if}}>
        <label for="tuesday">Tuesday</label>

        <input type="checkbox" value="Wednesday" name="workingDays" {{#if days.Wednesday}} checked {{/if}}>
        <label for="wednesday">Wednesday</label>

        <input type="checkbox" value="Thursday" name="workingDays" {{#if days.Thursday}} checked {{/if}}>
        <label for="thursday">Thursday</label>

        <input type="checkbox" value="Friday" name="workingDays" {{#if days.Friday}} checked {{/if}}>
        <label for="friday">Friday</label>

        <input type="checkbox" value="Saturday" name="workingDays" {{#if days.Saturday}} checked {{/if}}>
        <label for="saturday">Saturday</label>

        <input type="checkbox" value="Sunday" name="workingDays" {{#if days.Sunday}} checked {{/if}}>
        <label for="sunday">Sunday</label>
    </section>

    <div>
        <label for="description">Description:</label>
        <input type="text" name="description" value="{{thisChef.description}}"></input>
    </div>
    <div>
        <label>Profile Picture:</label>
        <input type="file" name="photo" value="{{thisChef.picture}}">
    </div>
    <div>
        <img src="../../images/facebook.png" />
        <input type="text" name="facebook" placeholder="" value="{{thisChef.facebook}}">
    </div>
    <div>
        <img src="../../images/instagram.png" />
        <input type="text" name="instagram" placeholder="" value="{{thisChef.instagram}}">
    </div>
    <div>
        <img src="../../images/twitter.png" />
        <input type="text" name="twitter" placeholder="" value="{{thisChef.twitter}}">
    </div>
    <button type="submit">Save changes</button>
</form>