<div class="container-pages">
    <h2>Editing "{{thisChef.name}}" profile</h2>

    <form method="post" action="/profile-chef/{{thisChef._id}}">
        <div>
            <label for="name">Name:</label>
            <input class="border-inputs input-margin" type="text" name="name" id="name"
                value="{{thisChef.name}}"></input><br>
        </div>
        <div>
            <label for="email">Email address:</label>
            <input class="border-inputs input-margin" type="text" name="email" id="email"
                value="{{thisChef.email}}"></input><br>
        </div>
        <div>
            <label for="phoneNumber">Phone number:</label>
            <input class="border-inputs input-margin" type="text" name="phoneNumber" id="phoneNumber"
                value="{{thisChef.phoneNumber}}"></input>
        </div>
        <div>
            <label for="">Address:</label>
            <input class="border-inputs input-margin" type="text" name="address" id="address"
                value="{{thisChef.address}}"></input>
        </div>
        <div>
            <label for="">Age:</label>
            <input class="border-inputs input-margin" type="text" name="age" id="age" value="{{thisChef.age}}"></input>
        </div>
        <div>
            <label for="mainCookSpecialty">Main cook specialty:</label>
            <input class="border-inputs input-margin" id="mainCookSpecialty" type="text" name="mainCookSpecialty"
                value="{{thisChef.mainCookSpecialty}}">
        </div>

        <hr class="separation-line">
        <section>
            <span>Working days:</span>
            <input type="checkbox" value="Monday" name="workingDays" {{#if days.Monday}} checked {{/if}}>
            <label for="monday">Monday</label>

            <input type="checkbox" value="Tuesday" name="workingDays" {{#if days.Tuesday}} checked {{/if}}>
            <label for="tuesday">Tuesday</label>

            <input type="checkbox" value="Wednesday" name="workingDays" {{#if days.Wednesday}} checked {{/if}}>
            <label for="wednesday">Wednesday</label>

            <input type="checkbox" value="Thursday" name="workingDays" {{#if days.Thursday}} checked {{/if}}>
            <label for="thursday">Thursday</label>

            <input type="checkbox" value="Friday" name="workingDays" {{#if days.Friday}} checked {{/if}}>
            <label for="friday">Friday</label>

            <input type="checkbox" value="Saturday" name="workingDays" {{#if days.Saturday}} checked {{/if}}>
            <label for="saturday">Saturday</label>

            <input type="checkbox" value="Sunday" name="workingDays" {{#if days.Sunday}} checked {{/if}}>
            <label for="sunday">Sunday</label>
        </section>
        <hr class="separation-line">

        <div class="input-margin">
            <label for="description">Description:</label>
            <input class="border-inputs" type="text" name="description" value="{{thisChef.description}}"></input>
        </div>
        <div class="input-margin">
            <label>Profile Picture:</label>
            <input type="file" name="photo" value="{{thisChef.picture}}">
        </div>
        <div>
            <img src="../../images/facebook.png" />
            <input class="border-inputs" type="text" name="facebook" placeholder="" value="{{thisChef.facebook}}">
        </div>
        <div>
            <img src="../../images/instagram.png" />
            <input class="border-inputs" type="text" name="instagram" placeholder="" value="{{thisChef.instagram}}">
        </div>
        <div>
            <img src="../../images/twitter.png" />
            <input class="border-inputs" type="text" name="twitter" placeholder="" value="{{thisChef.twitter}}">
        </div>
        <button class="allButtons mt-3" type="submit">Save changes</button>
    </form>
</div>