<ul>
    {{#if thisUser.picture}}
    <img src="{{thisUser.picture}}">
    {{else}}
    <img src="https://static.thenounproject.com/png/1244141-200.png" />
    {{/if}}
    <li>Name: {{thisUser.name}}</li>
    <li>Diet: {{thisUser.diet}}</li>
    <li>Allergies: {{thisUser.allergies}}</li>
    <li>Age: {{thisUser.age}}</li>
    <li>Description: {{thisUser.description}}</li>
    <li>Social media: ICONS WITH HIPERLINKS</li>
</ul>

<button><a href="/profile-user/{{thisUser.id}}/edit">Edit your profile</a></button>