<ul>
    {{#if thisUser.picture}}
    <img src="{{thisUser.picture}}">
    {{else}}
    <img src="https://static.thenounproject.com/png/1244141-200.png" />
    {{/if}}
    <li>Name: {{thisUser.name}}</li>
    <li>Diet: {{thisUser.diet}}</li>
    <li>Allergies: {{thisUser.allergies}}</li>
    <li>Age: {{thisUser.age}}</li>
    <li>Description: {{thisUser.description}}</li>
    <li>Social media:<br>
        <a href="{{thisUser.facebook}}"><img src="../../images/facebook.png" /></a>
        <a href="{{thisUser.instagram}}"><img src="../../images/instagram.png" /></a>
        <a href="{{thisUser.twitter}}"><img src="../../images/twitter.png" /></a>

    </li>
</ul>