<ul>
    <li>Name: {{thisUser.name}}</li>
    <li>Diet: {{thisUser.diet}}</li>
    <li>Allergies: {{thisUser.allergies}}</li>
    <li>Age: {{thisUser.age}}</li>
    <li>Description: {{thisUser.description}}</li>
    <li>Social media: ICONS WITH HIPERLINKS</li>
</ul>