<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!--RESET CSS-->
  <link rel="stylesheet" type="text/css" href="./stylesheets/reset.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--CSS-->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--GOOGLE FONT-->
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img id="logo" src="./../images/logo-cooketh.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/recipes">Find a cook!<span class="sr-only">(current)</span></a>
        </li>
        {{#unless currentUserInfo}}
        <li class="nav-item">
          <a href="/login" class="nav-link">Log-in</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sign-up
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/signup-user">as a user</a>
            <a class="dropdown-item" href="/signup-chef">as a chef</a>
          </div>
        </li>
        {{/unless}}
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        {{#if currentUserInfo.isAChef}}
        <li class="nav-item">
          <a href="/recipe/new" class="nav-link">Create a new recipe</a>
        </li>
        <li class="nav-item">
          <a href="/bookings" class="nav-link">My bookings</a>
        </li>
        <li class="nav-item">
          <a href="/profile-chef/{{currentUserInfo._id}}" class="nav-link">My profile</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Log-out</a>
        </li>
        {{else if currentUserInfo.isAUser}}
        <li class="nav-item">
          <a href="/bookings" class="nav-link">My bookings</a>
        </li>
        <li class="nav-item">
          <a href="/profile-user/{{id}}" class="nav-link">My profile</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Log-out</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="../routes/auth.js"></script>
</body>

</html>