<div class="container-pages">
    <h2 class="all-page-titles">My Bookings</h2>
    <hr>

    {{#each bookings}}
    <div class="ideas-recipes">
        <h2 class="all-page-titles">{{this.recipe.title}}</h2>
        <img class="img-recipe-bookings" src={{this.recipe.imgPath}} />

        <hr class="separation-line">

        <p>Booked by:<br> {{this.customer.name}} </p>
        <p>Created at:<br> {{this.createdAt}} </p>
        <p>Address:<br> {{this.address}} </p>
        {{#if ../currentUserInfo.isAChef}}
        {{#ifeq this.status 'accepted'}}
        <p>Client's phone number:<br> {{this.customer.phoneNumber}} </p>
        <p>Client's email:<br> {{this.customer.email}} </p>
        {{else if ../currentUserInfo.isAUser}}
        <p>Chef's phone number:<br> {{this.chef.phoneNumber}} </p>
        <p>Chef's email:<br> {{this.chef.email}} </p>
        {{/ifeq}}
        {{/if}}
        <p>Date:<br> {{this.date}} </p>
        <p>Hour:<br> {{this.hour}} </p>
        <p>Number of dishes:<br> {{this.numberOfDishes}} </p>
        <p>Status:<br> {{this.status}} </p>
        <p>Cooked by:<br> {{this.chef.name}} </p>

        <form class="input-margin" action="/delete-booking" method="post">
            <!--Input to get the ID of the booking-->
            <input type="text" name="idOfBooking" value={{this._id}} style="display: none;">
            <button class="allButtons" id="cancel-button-bookings" type="submit" style="cursor: pointer;">Cancel
                booking</button>
        </form>

        {{#if ../currentUserInfo.isAChef}}
        {{#ifeq this.status 'pending'}}
        <form class="input-margin" action="/confirm-booking" method="post">
            <!--Input to get the ID of the booking-->
            <input type="text" name="idOfBooking" value={{this._id}} style="display: none;">
            <button class="allButtons" id="confirm-button-bookings" type="submit" style="cursor: pointer;">Confirm
                booking</button>
        </form>
        {{/ifeq}}
        {{/if}}
    </div>
    <br>

    {{/each}}
</div>