<h1>My Bookings</h1>
<hr>

{{#each bookings}}
<div>
    <h1><u>BOOKING:</u></h1>
    <img class="img-recipe-bookings" src={{this.recipe.imgPath}} />

    <p>Booked by: {{this.customer.name}} </p>
    <p>Created at: {{this.createdAt}} </p>
    <p>Address: {{this.address}} </p>
    <p>Phone number: {{this.customer.phoneNumber}} </p>
    <p>Email: {{this.customer.email}} </p>
    <p>Date: {{this.date}} </p>
    <p>Hour: {{this.hour}} </p>
    <p>Number of dishes: {{this.numberOfDishes}} </p>
    <p>Status: {{this.status}} </p>
    <p>Cooked by: {{this.chef.name}} </p>

    <form action="/delete-booking" method="post">
        <button id="confirm-button-bookings" value={{this.id}} type="submit" style="cursor: pointer;">Confirm
            booking</button>
        <!--Input to get the ID of the booking-->
        <input type="text" name="idOfBooking" value={{this._id}} style="display: none;">
        <button id="cancel-button-bookings" value={{this.id}} type="submit" style="cursor: pointer;">Cancel
            booking</button>
    </form>

</div>
<br>

{{/each}}