<div id="one-recipe-container">
    <div class="card" style="width: 18rem;">
        <h5 style="padding: 1rem; margin: 0px -17px -17px -17px" class="card-title">{{recipeinfo.title}}</h5>
        <hr style="align-self: center;" class="separation-line">

        <img class="card-img-top" style="height: 14rem;" src="{{recipeinfo.imgPath}}" alt="Card image cap">
        <hr style="align-self: center;" class="separation-line">
        <div class="card-body" style="padding-top: 0; font-size: 0.7rem">
            <p class="card-text"><b>Diet:</b> {{recipeinfo.diet}}</p>
            <p class="card-text"><b>Allergies:</b> {{recipeinfo.allergies}}</p>
            <p class="card-text"><b>Type of cuisine: </b>{{recipeinfo.typeOfFood}}</p>
            <p class="card-text"><b>Price:</b> {{recipeinfo.price}}€/serving</p>
            {{#ifeq this.serves "1"}} <p class="card-text"><b>Serves:</b> {{recipeinfo.serves}} guest</p> {{/ifeq}}
            {{#ifneq this.serves "1"}} <p class="card-text"><b>Serves:</b> {{recipeinfo.serves}} guests</p> {{/ifneq}}
            <p class="card-text"><b>Ingredients: </b>{{recipeinfo.ingredients}}</p>
            <p class="card-text"><b>Description: </b>{{recipeinfo.description}}</p>
            <hr style="align-self: center;" class="separation-line">

        </div>
    </div>
    <div class="card">
        <div class="info-chef-container pt-4">
            <div>
                <img class="pic-cooker-list-recipe" src={{recipeinfo.chef.picture}}>
            </div>
            <div class="recipes-chef-info-cont">
                <p style="font-size: 0.8rem"><b>Cooker</b>: {{recipeinfo.chef.name}}</p>
                <a class="allGreenButtons" href="/profile-chef/{{recipeinfo.chef._id}}">View profile</a>
            </div>
        </div>
        <div>
            <hr style="align-self: center;" class="separation-line">

            <h2 class="all-page-titles info-recipe-margin">Book it!</h2>
            {{#if userIsLoggedIn}}
            <form class="info-recipe-form-margin" action="/new-booking" method="post">
                <div class="input-margin">
                    <label for="date">Select your date:</label><br>
                    <input class="border-inputs info-inputs" type="date" name="date">

                </div>
                <div class="input-margin">
                    <label for="hour">Select your time:</label><br>
                    <input class="border-inputs info-inputs" type="time" name="hour" value="13:30">
                </div>
                <div class="input-margin">
                    <label for="address">Your address:</label><br>
                    <input class="border-inputs info-inputs" type="text" name="address">
                </div>
                <div class="input-margin">
                    <label for="numberOfDishes">Number of serves:</label><br />
                    <select name="numberOfDishes" id="serves">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <div style="display: none;">
                    <input type="text" name="idOfCooker" value={{recipeinfo.chef._id}}>
                </div>

                <div style="display: none;">
                    <input type="text" name="idOfRecipe" value={{recipeinfo._id}}>
                </div>
                <br>
                <button class="allButtons" type="submit">Request your chef</button>
            </form>
            {{else}}
            <div id="cant-book">
                <p>In order to book this recipe, you need to <a href="/login">Login</a></p>
            </div>
            {{/if}}
        </div>
    </div>
</div>
</div>