<div class="container-pages">

    <h2 class="all-page-titles">{{recipeinfo.title}}</h2>

    <div class="ideas-recipes">
        <img class="img-info-recipe" src="{{recipeinfo.imgPath}}" alt="{{recipeinfo.title}}" />
        <p>Diet:<br> {{recipeinfo.diet}}</p>
        <p>Type of cuisine:<br> {{recipeinfo.typeOfFood}}</p>
        <p>Allergies:<br> {{recipeinfo.allergies}}</p>
        <p>{{recipeinfo.price}}/serving</p>
        <p>Serves:<br> {{recipeinfo.serves}} guests</p>
        <p>Description:<br> {{recipeinfo.description}}</p>
        <p>Ingredients:<br> {{recipeinfo.ingredients}}</p>
    </div>

    <div>
        <h2 class="all-page-titles info-recipe-margin">Book it!</h2>
        {{#if userIsLoggedIn}}
        <form class="info-recipe-form-margin" action="/new-booking" method="post">
            <div class="input-margin">
                <label for="date">Select your date:</label><br>
                <input class="border-inputs info-inputs" type="date" name="date">
            </div>
            <div class="input-margin">
                <label for="hour">Select your time:</label><br>
                <input class="border-inputs info-inputs" type="time" name="hour" value="13:30">
            </div>
            <div class="input-margin">
                <label for="address">Your address:</label><br>
                <input class="border-inputs info-inputs" type="text" name="address">
            </div>
            <div class="input-margin">
                <label for="numberOfDishes">Number of serves:</label><br />
                <select name="numberOfDishes" id="serves">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>

            <div style="display: none;">
                <input type="text" name="idOfCooker" value={{recipeinfo.chef._id}}>
            </div>

            <div style="display: none;">
                <input type="text" name="idOfRecipe" value={{recipeinfo._id}}>
            </div>
            <br>
            <button class="allButtons" type="submit">Request your chef</button>
        </form>
        {{else}}
        <p>In order to book this recipe, you need to <a href="/login">Login</a></p>
        {{/if}}
    </div>

    <div>
        <img class="profile-pic" src={{recipeinfo.chef.picture}}>
        <p class="font-size-one-recipe">Cooker:<br> {{recipeinfo.chef.name}}</p>
        <a href="/profile-chef/{{recipeinfo.chef._id}}">View profile</a>
    </div>
</div>