<h2 class="all-page-titles">All recipes</h2>
<div class="cocinitas">

    {{#each recipes}}
    <div class="card img-hover-zoom" style="width: 18rem;">
        <img class="card-img-top" style="height: 14rem;" src="{{this.imgPath}}" alt="Card image cap">
        <hr style="align-self: center;" class="separation-line">
        <div class="card-body" style="padding-top: 0; font-size: 0.7rem">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text"><b>Price:</b> {{this.price}}€/serving</p>
            {{#ifeq this.serves "1"}} <p class="card-text"><b>Serves:</b> {{this.serves}} guest</p> {{/ifeq}}
            {{#ifneq this.serves "1"}} <p class="card-text"><b>Serves:</b> {{this.serves}} guests</p> {{/ifneq}}
            <p class="card-text"><b>Type: </b>{{this.typeOfFood}}</p>
            <p class="card-text"><b>Description: </b>{{this.description}}</p>
        </div>
        <hr style="align-self: center;" class="separation-line">
        <div class="info-chef-container">
            <div>
                <img class="pic-cooker-list-recipe" src={{this.chef.picture}}>
            </div>
            <div class="recipes-chef-info-cont">
                <p style="font-size: 0.8rem"><b>Cooker</b>: {{this.chef.name}}</p>
                <a class="allButtons" href="/profile-chef/{{this.chef._id}}">View profile</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!--
<div class="container-pages">
    <h2 class="all-page-titles">All recipes</h2>
    <hr>

    <div class="container-recipes">
        {{#each recipes}}
        <div class="ideas-recipes">

            <img class="img-recipe" src="{{this.imgPath}}">
            <hr class="separation-line">
            <div class="container-info">
                <div class="info-recipe">
                    <p>{{this.title}}</p>
                    <p>Price: {{this.price}}€/serve</p>
                    <p>Type of food: {{this.typeOfFood}}</p>
                    <p>Description: {{this.description}}</p>
                </div>
                <div class="info-cooker">
                    <h3 class="titles-homepage">Info cook</h3>
                    <img class="pic-cooker-list-recipe" src={{this.chef.picture}}>
                    <p style="margin-top: 1rem;">Cooker: {{this.chef.name}}</p>
                    <a href="/profile-chef/{{this.chef._id}}">View profile</a>
                </div>
            </div>

            <button class="allButtons list-recipes-margin" type="button"><a style="color: white;"
                    href="/recipes/{{this.id}}">Book
                    it!</a></button>

        </div>
        {{else}}
        <p>There is no recipe yet</p>
        {{/each}}
    </div>
</div>
-->