<h2>All recipes</h2>

<div class="container-recipes">
    {{#each recipes}}
    <div class="recipes">

        <p><img src="{{this.imgPath}}"> </p>
        <p>{{this.price}}</p>
        <p>{{this.typeOfFood}}</p>
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.chef}}</p>

        <button type="button"><a href="/recipes/{{this.id}}">Book it!</a></button>

    </div>
    {{else}}
    <p>There is no recipe yet</p>
    {{/each}}
</div>