<div class="container-pages">
    <h2 class="all-page-titles">All recipes</h2>
    <hr>

    <div class="container-recipes">
        {{#each recipes}}
        <div class="ideas-recipes">

            <img class="img-recipe" src="{{this.imgPath}}">
            <hr class="separation-line">
            <div class="container-info">
                <div class="info-recipe">
                    <p>{{this.title}}</p>
                    <p>Price: {{this.price}}€/serve</p>
                    <p>Type of food: {{this.typeOfFood}}</p>
                    <p>Description: {{this.description}}</p>
                </div>
                <div class="info-cooker">
                    <h3 class="titles-homepage">Info cook</h3>
                    <img class="pic-cooker-list-recipe" src={{this.chef.picture}}>
                    <p style="margin-top: 1rem;">Cooker: {{this.chef.name}}</p>
                    <a href="/profile-chef/{{this.chef._id}}">View profile</a>
                </div>
            </div>

            <button class="allButtons list-recipes-margin" type="button"><a style="color: white;"
                    href="/recipes/{{this.id}}">Book
                    it!</a></button>

        </div>
        {{else}}
        <p>There is no recipe yet</p>
        {{/each}}
    </div>
</div>