<h1>All recipes</h1>
<hr>

<div class="container-recipes">
    {{#each recipes}}
    <div class="recipes">

        <img class="img-recipe" src="{{this.imgPath}}">
        <hr>
        <div class="container-info">
            <div class="info-recipe">
                <p>{{this.title}}</p>
                <p>Price: {{this.price}}€/serve</p>
                <p>Type of food: {{this.typeOfFood}}</p>
                <p>Description: {{this.description}}</p>
            </div>
            <div class="info-cooker">
                <img class="pic-cooker-list-recipe" src={{this.chef.picture}}>
                <p>Cooker: {{this.chef.name}}</p>
            </div>
        </div>

        <button type="button"><a href="/recipes/{{this.id}}">Book it!</a></button>

    </div>
    {{else}}
    <p>There is no recipe yet</p>
    {{/each}}
</div>